@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Mad Inputs</h1>
    <div class="col-12">
		<form method="post" asp-page="Story">
			<div class="row">
				<div class="col-12">
					<input id="First" type="text" name="First" placeholder="Noun" />
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<input id="Second" type="text" name="Second" placeholder="Noun (Plural)" />
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<input id="Third" type="text" name="Third" placeholder="Verb (Present Tense)" />
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<input id="Fourth" type="text" name="Fourth" placeholder="Noun" />
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<input id="Fifth" type="text" name="Fifth" placeholder="Adjective" />
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<button type="submit">Submit</button>
				</div>
			</div>
		</form>
    </div>
</div>


@*<a class="nav-link text-dark" asp-area="" asp-page="/Story">Story</a>*@