@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Mad Inputs</h1>
    <div class="col-12">
		<form method="post">
			<div class="row">
				<div class="col-12">
					<input id="Input1" type="text" name="Input1" placeholder="Noun" />
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<input id="Input2" type="text" name="Input2" placeholder="Noun (Plural)" />
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<input id="Input3" type="text" name="Input3" placeholder="Verb (Present Tense)" />
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<input id="Input4" type="text" name="Input4" placeholder="Noun" />
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<input id="Input5" type="text" name="Input5" placeholder="Adjective" />
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<button type="submit">Submit</button>
				</div>
			</div>
		</form>
    </div>
</div>


@*<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>*@