@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To view the game collection, click <a class="nav-link text-dark" asp-area="" asp-page="/Games">here</a>.</p>
</div>
