@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Quick Test Links</h1>
    <a href="CowMoos/8">Default Cow</a>
    <p>

    </p>
    <a href="Banishment/EatMoreChicken">Chick-fil-a</a>
    <p>

    </p>
    <a href="CowMoos/8/Betsy">Custom Cow</a>
    <p>

    </p>
    <a href="AllCows/Gallery/5">X per page</a>
    <p>

    </p>
    <a href="AllCows/Gallery/5/6">X per page, page Y</a>
    <p>

    </p>
    <a href="AllCows/Gallery/5/Page5">X per page, page Y - But SpEcIaL</a>
</div>
