@page
@model Screams_of_Creation.Pages.FutureModel
@{
}

<div class="row">
    <div class="col-5">
        <p>
            <br />
            Upon graduating, I intend to pay off my student loans.
            I would accomplish this by seeking jobs in game development and game design.
            I even have ideas for a trilogy that I would like to create.
            Something that I have been contemplating for several years,
            albeit they are but bits and pieces.
            Fractals of a world that I would like to explore.
            <br />
            <br />
            <br />
            <br />
            I would also plan to contemplate concepts of humanity and reality.
            Sitting alone, tossing around ideas of what could be.
            Any ideas that appear to have substance,
            I will continue to preserve in writing.
            Besides, if there is one thing that philosophy and game development
            have working for each other, it's that even if reality
            doesn't demonstrate a particular concept, I could still explore such
            a concept in action, should it be interesting enough.
        </p>
    </div>
    <div class="col">
        <img src="/images/Diploma.jpg">
        <br />
        <br />
        <img src="/images/RelaxedMinecraft.gif" width=320 height=180>
    </div>
</div>

<!--

            Upon graduating, I intend to pay off my student loans.
            I would accomplish this by seeking jobs in game development and game design.
            I even have ideas for a trilogy that I would like to create.
            Something that I have been contemplating for several years,
            albeit they are but bits and pieces.
            Fractals of a world that I would like to explore.

            I would also plan to contemplate concepts of humanity and reality.
            Sitting alone, tossing around ideas of what could be.
            Any ideas that appear to have substance,
            I will continue to preserve in writing.
            Besides, if there is one thing that philosophy and game development
            have working for each other, it's that even if reality
            doesn't demonstrate a particular concept, I could still explore such
            a concept in action, should it be interesting enough.

-->
