@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Welcome</h1>
</div>
<div class="row">
	<div class="col-5">
		<p>
			My name is Charles Massie.
			I was born on October 9th, 2002.
			I am the eldest son of my mother and father.
			I was born and raised in the mythical land of Ohio. <br />

			I take interest in philosophy and the communication of ideas.
			Odd how one could say the same thing using different words and phrases and derive alternate interpretations.
			I have also found entertainment within video games.
			I did not have many games accessible to me, although Minecraft was one I had access to.
		</p>
	</div>
	<div class="col">
		<img src="~/images/depictingphilosophy.webp" width=500 height=334 />
	</div>
	<div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<p>Bonjour!</p>
		<img src="~/images/me.jpg" width=99 height=138 />
	</div>

</div>



<!--

	My name is Charles Massie.
	I was born on October 9th, 2002.
	I am the eldest son of my mother and father.
	I was born and raised in the mythical land of Ohio.

	I take interest in philosophy and the communication of ideas.
	Odd how one could say the same thing using different words and phrases and derive alternate interpretations.
	I have also found entertainment within video games.
	I did not have many games accessible to me, although Minecraft was one I had access to.

-->
