@page
@model PrivacyModel
@{
    ViewData["Title"] = "Lore";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <img src="~/images/risingsun.jpeg" width=300 height=200 />
    </div>
    <div class="col-5">
        <p>
            Where I grew up, significance was a rare commodity.
            I would often be left with little more than my own thoughts.
            Memories of the same day repeating itself, time parodying recollections.
            Of course, there is a comfort to consistency,
            but when clocks refuses to let you stay in paradise,
            it is only a matter of time before you smell the rot. <br /><br />


            And as the rising sun left a sour taste in my mouth,
            a constant mockery of stagnant potential,
            my family had decided to move to Florida.
            An intriguing prospect if even for a week,
            until the days resumed repetition, all over again.<br /><br />

            At this point, it became evident to me that a mere change in scenery wasn't enough.
            I needed a change in cast. I needed an entirely new narrative.
            I needed to reach beyond my roots. I needed to reach for the sun.
            One day, the sun rose over Utah...<br /><br />

            The first day was spent taking in the surroundings.
            I had never seen buildings so tall up close.
            I had hardly known anticipation until then.
            Back home, I rarely cared for whatever happened next.
            I learned to embrace chaos.
            Now I stood amongst it.<br /><br />

            The second day, I encountered two people offering cookies.
            Wondering why, I accepted their offer.
            I then learned that they were Mormon missionaries.
            They spoke of their God, I alluded to mine.
            I observed their words, their reasoning.
            I witnessed psychology in action.
            Afterward, we said our goodbyes...<br /><br />

            And as the sun set, I couldn't help but think,
            "Huh, I think I'm gonna like it here."
        </p>
    </div>
    <div class="col">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <img src="~/images/mormon.jpg" />
    </div>
</div>


<!--

    Where I grew up, significance was a rare commodity.
    I would often be left with little more than my own thoughts.
    Memories of the same day repeating itself, time parodying recollections.
    Of course, there is a comfort to consistency,
    but when clocks refuses to let you stay in paradise,
    it is only a matter of time before you smell the rot.

    And as the rising sun left a sour taste in my mouth,
    a constant mockery of stagnant potential,
    my family had decided to move to Florida.
    An intriguing prospect if even for a week,
    until the days resumed repetition, all over again.

    At this point, it became evident to me that a mere change in scenery wasn't enough.
    I needed a change in cast. I needed an entirely new narrative.
    I needed to reach beyond my roots. I needed to reach for the sun.
    One day, the sun rose over Utah...

    The first day was spent taking in the surroundings.
    I had never seen buildings so tall up close.
    I had hardly known anticipation until then.
    Back home, I rarely cared for whatever happened next.
    I learned to embrace chaos.
    Now I stood amongst it.

    The second day, I encountered two people offering cookies.
    Wondering why, I accepted their offer.
    I then learned that they were Mormon missionaries.
    They spoke of their God, I alluded to mine.
    I observed their words, their reasoning.
    I witnessed psychology in action.
    Afterward, we said our goodbyes...

    And as the sun set, I couldn't help but think,
    "Huh, I think I'm gonna like it here."

-->
